
[server_ext]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = ASPIRE
DNS.2 = localhost
IP.1 = 10.99.228.234
IP.2 = 127.0.0.1
